-var titulo = "Subtítulo Principal"
-var titulos = ["Título principal", "Subtítulo 1", "Subtítulo 2", "Subtítulo 3"]
-var enlaces = ["Acerca", "Noticias", "Contacto"]
// -var usuario = "Memo"
mixin caja(imagen, titulo, contenido)
	.caja
		.caja__imagen: img(src="images/"+imagen)
		.caja__contenido 
			h3=titulo
			p=contenido
