extend componentes/plantilla.pug
block contenidos
		section.intro
			div.intro__imagen: img(src="images/imagen.png")
			div.intro__contenido 
				h2 #{titulos[0]}
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate fugiat, earum eos aperiam eaque esse odit quis. 
				p Lorem, ipsum dolor sit amet consectetur adipisicing. 
				
				a.boton Leer más
		main.contenido
			+caja("imagen.png", titulos[1], "Lorem Ipsum whatever")
			+caja("imagen.png", titulos[2], "Lorem Ipsum whatever")
			+caja("imagen.png", titulos[3], "Lorem Ipsum whatever")
		include componentes/footer.pug